main, header {
    margin: 25px;
}

nav, h1 {
    margin-bottom: 30px;
}

#agregar-citas {
    color: darkblue!important;/*todo: cambiar*/
}

#contenedor-tabla {
    width: 88%;
    height: 65%;
    position: absolute;
    border:solid;
}